<h1> Painel do Usuário </h1>

<% if partner_signed_in? %>
	<div><%= button_to t('.sign_out'), destroy_partner_session_path, :method => :delete %></div>
<% else %>
	<div><%= button_to t('.sign_in'),  new_partner_session_path, :method => :get %></div>
	<div><%= button_to t('.sign_up'),  new_partner_registration_path, :method => :get %></div>
<% end %>