@import "bootstrap";
@import "font-awesome";

.simple_form label {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.simple_form input {
  margin-bottom: 0.5rem;
}

.line-top {
	height: 0.5rem;
}

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #1E1E1E;
  transition: all .5s ease;
}

.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1B1B1B;
  user-select: none;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100px;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sixing: boder-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-left: 5px solid transparent;
  transaction: all .5s ease;
}

a.active, a.hover {
  border-left: 5px solid red;
  color: #B93632;
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 26px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transaction: all .5s ease;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}

@media(max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  header, #btn, #cancel {
    display: none;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }

  sidebar a {
    height: 60px;
  }
  
  sidebar a i{
    margin-left: -10px;
  }

  a:hover {
    width: 200px;
    background: inherit;
  }

  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}










