/* Global colors */
:root {
  --color-primary: #ff7733;
  --color-primary-light: #FFA047;
  --color-primary-translucent: rgba(102,179, 186, 0.3);
  --color-danger-translucent: rgba(227,23,10, 0.3);
  --gray-inputs-legends: #666;
  --gray-backgroud-color-lines: #E5E5E5;
  --text-color: #283D3B;
  --color-purple-dark: #260C1A;
  --color-filds-input: rgba(102, 179,186, 0.6);
}
