<h1><%= t('.road_maps')%></h1>

<ul>
  <% @tours.each do |tour| %>
    <li><%= link_to tour.name, partners_tour_path(tour) %> <%= button_to 'Remover', partners_tour_path(tour),method: :delete %></li>
    <br>
  <% end %>
</ul>
